<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
    <flight-sidebar></flight-sidebar>
  </div>

  <div class="main-panel">
    <flight-navbar></flight-navbar>

    <div class="content">
      <h1>{{ title }}</h1>

      <button
        class="btn btn-default"
        (click)="showFlightSearch = !showFlightSearch"
      >
        Show/hide Flight Search
      </button>

      <div class="container-fluid" *ngIf="showFlightSearch">
        <flight-search></flight-search>
      </div>
    </div>
  </div>
</div>
