<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../../assets/img/angular2-logo.png" alt="" />
      </div>
      Flight42
    </a>
  </div>
  <ul class="nav">
    <li>
      <a routerLink="/flight-booking">
        <i class="ti-arrow-top-right"></i>
        <p>Flights</p>
      </a>
    </li>

    <li *ngIf="isAuthenticated$ | async; else login">
      <a routerLink="/logout">
        <i class="ti-power-off"></i>
        <p>Logout</p>
      </a>
    </li>
    <ng-template #login>
      <li>
        <a routerLink="/login">
          <i class="ti-unlock"></i>
          <p>Login</p>
        </a>
      </li>
    </ng-template>
  </ul>
</div>
